div(class="search-menu d-flex flex-column rounded")
  if users && users.length 
    each user in users
      a(class="d-flex flex-row align-items-center search-menu-item pointer-cursor" href="/users/" + user.username)
        img(class="search-menu-avatar me-3" src=user.avatar)
        span(class="pl-3 link")= user.username
  else 
    span(class="p-3") Aucun utilisateur...
